<div class='row'>
    <div class='col-xs-4'>
        <div class="panel panel-default">
          <div class="panel-body">
            <p>Profile</p>
          </div>
        </div>
    </div>
    <div class='col-xs-8'>
      <%= render '/components/post_form' %>
      <% for @p in @posts %>
      <div class="panel panel-default post-panel">
        <div class="panel-body">
          <div class = "col-xs-1">
            <img src="/fidget-spinner-black.jpg" height="50px" width="50px"></img>
          </div>
          
          <div class "col-xs-11">
            <div class = "posts">
              <p><%= User.find(@p.user_id).username %> <span class = "post-time"><%= @p.created_at.to_formatted_s(:short)%></span></p>
              <p><%= @p.content %></p>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>
