/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$bgDefault   : #1A1A1D;
$bgHighlight : #C3073F;
$colDefault  : #950740;
$colHighlight: #C3073F;
$white : #FFFFFF;
$footerDefault: #4E4E50;

body {
  background-color: $white;
}

.body-footer {
  background: linear-gradient($footerDefault, $bgDefault);
  position: fixed;
  bottom: 0;
  width: 100%;
  color: $white;
}

.navbar-default {
  background-color: $bgDefault;
  .navbar-brand {
    position: absolute;
    left: 50%;
    color: $colDefault;
    &:hover, &:focus {
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          background-color: $bgDefault;
          color: $colHighlight;}}}
    > .active {
      > a, > a:hover, > a:focus {
        background-color: $bgDefault; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgDefault; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault;
  }
  .btn-default {
    color: $white;
    background-color: $colDefault;
    &:hover, &:focus {
      background-color: $white;
      color: $colDefault;}}
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
      
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

.post-panel {
  margin-top: -21px;
}

.posts {
  margin-left: 100px;
  text-align: left;
}

.post-time {
  opacity: 0.5;
  font-size: 10px;
}

.jumbotron {
  background-color: rgba(220,220,220,0.8);
}